/*notes and reminders
font-family: 'Josefin Sans', sans-serif;
font-family: 'Droid Serif', serif;
font-family: 'Raleway', sans-serif;

*/


/*-----basic styles-----*/

* {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size:1em;
    font-family: 'Droid Serif', serif;
    color: #fff;
}

h1 {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    margin:0;
}

h2 {
    font-size:.8rem;
    font-weight: normal;
    margin:0;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

p {
  margin: 0;
  line-height: 160%;
  letter-spacing: 0.01em;
  font-size: 1.45rem;
  font-size: 1.1rem;
  padding: 1px 12px;
}

.singleChar {
    color:#2196F3;
}



/*----styles for icons-----*/
.icon-menu {
  font-size: 2.5rem;
  position: relative;
  left: 12px;
  top: 12px;
}

.icon-ruby {
  font-size: 3.4rem;
  position: relative;
  left: 6px;
  top: 5px;

}

.icon-home {
  font-size: 3rem;
  position: relative;
  top: 9px;
  left: 8px;
}

.icon-calendar {
  font-size: 3rem;
  position: relative;
  top: 8px;
  left: 9px;
}

.icon-pencil {
  font-size: 2.5rem;
  display:inline-block;
  position: relative;
  top: 14px;
  left: 14px;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;

}

.contactActive {
 -webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


.icon-twitter {
  font-size: 3rem;
  position: relative;
  color: #212121;
  top: 14px;
  left: 10px;
}

.icon-github2 {
  font-size: 3rem;
  position: relative;
  color: #212121;
  top: 9px;
  left: 9px;
}

.icon-facebook {
    font-size: 3rem;
    position:relative;
    color: #212121;
    top: 5px;
    left: 5px;
}


/*----styles for header-----*/

.header {
  text-align: center;
  background:linear-gradient(rgba(0,0,0,0.2),
                             rgba(0,0,0,0.2)),
                            url('../img/lmtn.jpg') no-repeat;
  background-position: 57% 29%;
  background-size: 232%;
  height: 232px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
  padding-top: 35px;
  margin: 0 0 20px 0;
  color: #fff;
  border: none;
}

.header h1 {
    margin: 0;
    font-size:5rem;
    opacity: 0.85;

}

.header h2 {

  padding: 10px 5px;
  font-size: 1rem;
  border: 3px solid #fff;
  width: 75%;
  margin: auto;
  opacity: 0.85;

}

/*----styles for navigation-----*/

.menuButton {
    background: #2196F3;
    width: 65px;
    height:65px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    border:none;
    border-radius:none;
    position: fixed;
    left: 80%;
    top: 195px;
    z-index: 3;
    overflow: hidden;
    margin:0;
    padding:0;
    font-size:0;
    text-indent:-9999px;
    cursor: pointer;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
}

.menuButton:focus {
    outline: none;
}

.menuButton span {
    display: block;
    height: 4px;
    position: absolute;
    background: #fff;
    right:9px;
    left:9px;
    top:30px;

}

.menuButton span:before,
.menuButton span:after {
    position: absolute;
    display: block;
    left:0;
    height:4px;
    width:100%;
    background-color: #fff;
    content: "";

}

.menuButton span::before {
    top:15px;
}

.menuButton span:after {
    bottom:15px;
}

.menuButton span {
    transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}

.menuButton.active span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menuButton:hover {
    box-shadow: 0px 19px 35px rgba(0,0,0,0.30), 0px 15px 12px rgba(0,0,0,0.22);
}

.nav {
    background: #212121;
    width: 65px;
    height: 65px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    position:fixed;
    z-index: 1;
    opacity: 1;
    transition: all 0.3s;
}


.homeButton {
  top:275px;
  left:80%;
}


.mainAboutButton {
    top:354px;
    left:80%;

}
.mainAboutButton a {
    color: #fff;

}



.recentPostButton {
  top: 434px;
  left: 80%;

}

.contactButton {
  top: 511px;
  left: 80%;
  z-index: 2;

}

.nav h2 {
  color: #212121;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  position: absolute;
  left: -216px;
  top: 17px;
  width: 200px;
  text-align: right;

}

.navHide {
    top: 195px;
    opacity: 0;
}

.lightBox {
    background: transparent;
    opacity: 1;
    transition: all 0.2s;
}

.lightboxBlur {
  background: #fff;
  opacity: 0.1;
}

.social {
  background: #FFF;
  width: 70px;
  height: 70px;
  position: fixed;
  border-radius: 100%;
  border: 2px solid #000;
  z-index: 1;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
  opacity: 1;
  transition: all 0.3s;

}

.social:hover {
    box-shadow: 0px 19px 35px rgba(0,0,0,0.30), 0px 15px 12px rgba(0,0,0,0.22);
    border-color: #2196F3;
}


.twitter {
  top: 508px;
  left: 24px;

}

.github {
  top: 508px;
  left: 113px;

}

.facebook {
  top: 508px;
  left: 202px;

}

/*----styles for filter-----*/
.filter {
  border-bottom: 1.5px solid #2196F3;
  width: 50%;
  margin: auto;
  position: relative;
  transition: left 1s ease-in-out;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
}


.filter h1 {
    color: #4a4a4a;
    font-size: 4rem;
    text-align: center;
    opacity: 0.85;
}

.filterHide {
position:relative;
left:3000px;
    overflow: hidden;
}

.socialHide {
    left: 80%;
    opacity: 0;
}




/*----styles for content cards-----*/

.wrapperStyle {
  background: no-repeat;
  background-position: 80% 103%;
  background-size: cover;
  height: 195px;
  max-width: 100%;
  margin: auto;


}

.entry {
    border: 6px solid #4a4a4a;
    background: #fff;
    width: 79.554%;
    max-height: 335px;
    margin: 60px auto;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    border-radius: 7px;
    position:relative;
    top:-1600px;
    overflow: hidden;


}

.entryFullView {
    width: 90%;

}

/*animation effects*/
.entry {
    transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,height 0.5s ease;
    -webkit-transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,max-height 0.5s ease;
    -moz-transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,max-height 0.5s ease;
    -ms-transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,max-height 0.5s ease;
    -o-transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,max-height 0.5s ease;

}

.slideIn {
    top:0px;
}


.entry h1 {
    color: #2196F3;
    display:block;
    padding: 10px 0px 0px 10px;
    opacity: 0.85;
    transition: all 0.3s;

}

.entry:hover {
    box-shadow: 0 19px 35px rgba(0,0,0,0.30), 0px 15px 12px rgba(0,0,0,0.22);
    border-color: #2196F3;
}

.postDate {
  font-size:1rem;
  margin-bottom:-5px;

}



/*----styles for posts page-----*/
.postPicture {
    max-height:300px;
    background-size: cover;
}
.posts {
    max-height: 3000px;
    width: 90%;
    color:#787878;
    margin: 60px auto;
    padding:15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    border:none;


}

.posts:hover {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    border: none;
}

.postTitle {
  color: #4a4a4a;
  margin-top: 25px;
  font-size: 3.5rem;
}


/*----styles for footer-----*/
.footer {
    background: #fff;
    width: 100%;
    height: 120px;
    margin:0;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23)


}

.footer p {
    color: #4a4a4a;
    padding-top: 17px;
    opacity: 0.85;
    width: 75%;
    height: 56%;
    margin: auto;
    border: 5px solid #212121;


}

.footerLine {
  width: 17%;
  margin: -4% auto;
  border-bottom: 1px solid #2196f3;
}



/*--------------styles for about Page---------------*/


.aboutHeader {
    height: 292px;
    position:relative;
    left:-400px;
}

.aboutHeader {
    transition: left 1500ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -webkit-transition:left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -moz-transition: left 1000ms cubiz-bezier(0.68, -0.55,0.265,1.55);
    -ms-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -o-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
}

.aboutHeaderSlideIn {
    left:0px;
}

.circlePic {
  background: url('../img/aboutMe.jpg') no-repeat;
  background-size: cover;
  height: 255px;
  width: 255px;
  border-radius: 100%;
  margin: auto;
    margin-top:10px;


  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
}

.filter.about {
    width:75%;
}

.aboutContent {
    max-height: 3000px;
    width: 90%;
    color:#787878;
    margin: 60px auto;
    padding:15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    border:none;
    position: relative;
    left: 600px;
}



.aboutContent {
    transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -webkit-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -moz-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -ms-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -o-transition: left 1000ms cubic-bezier(0.65,-0.55,0.265,1.55);
}

.aboutContentSlideIn {
    left:0px;
}

.aboutSocialDiv {
  margin: 0px auto 41%;
  width: 50%;


}
.aboutSocial {
  float: left;
  width: 33.3333%;

}

.aboutSocialIcon {
  color: #4a4a4a;
  text-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.aboutSocialIcon:hover {
  color: #2196F3;
  text-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 12px 15px rgba(0,0,0,0.22);

}

.homeButton a {
  color:#fff;
}
