
* {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size:1em;
    font-family: $bodyFont;
    color: $backgroundColor;
}

h1 {
    font-size: 2rem;
    font-family: $headingFont;
    font-weight: normal;
    margin:0;
}

h2 {
    font-size:.8rem;
    font-weight: normal;
    margin:0;
}

a {
    text-decoration: none;
    color: $textColor;
}

p {
  margin: 0;
  line-height: 160%;
  letter-spacing: 0.01em;
  font-size: 1.45rem;
  font-size: 1.1rem;
  padding: 1px 12px;

  @media (max-width:321px) {
    font-size:.9rem;
  }
}

.singleChar {
    color:$primaryColor;
}
