
//colors
$primaryColor: #2196F3;
$backgroundColor: #fff;
$textColor: #4a4a4a;
$iconColor: #212121;

//fonts
$headingFont: 'Josefin Sans', sans-serif;
$bodyFont: 'Droid Serif', serif;


//box shadows
$level1: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
$level2: 0px 3px 6px rgba(0,0,0,0.13), 0px 3px 6px rgba(0,0,0,0.23);
$level3: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
$level4: 0px 14px 28px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.22);
$level5: 0px 19px 38px rgba(0,0,0,0.30), 0px 15px 12px rgba(0,0,0,0.22);

//transitions
$slideInOut: cubic-bezier(0.65,-0.55,0.265,1.55);
