
//colors
$primaryColor: #2196F3; //blue
$backgroundColor: #fff; //white
$textColor: #4a4a4a; //light grey
$iconColor: #212121; //dark smoke grey
$secondaryColor: #2ecc71; //emerald

//fonts
$headingFont: 'Josefin Sans', sans-serif;
$bodyFont: 'Lato', serif;


//box shadows
$level1: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
$level2: 0px 3px 6px rgba(0,0,0,0.13), 0px 3px 6px rgba(0,0,0,0.23);
$level3: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
$level4: 0px 14px 28px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.22);
$level5: 0px 19px 38px rgba(0,0,0,0.30), 0px 15px 12px rgba(0,0,0,0.22);

//transitions
$slideInOut: cubic-bezier(0.65,-0.55,0.265,1.55);


//mixins---------------------------------

@mixin mainButton($firstColor,$secondColor) {
  background: $firstColor;
  color: $secondColor;
  border: 3px solid $secondColor;
  text-align: center;
  width:30%;
  margin: auto;

  h1 {
    color: $secondColor;
    margin: 7px;
  }
  h2 {
    color: $secondColor;
    margin: 7px;
  }
  h3 {
    color: $secondColor;
    margin: 7px;
  }
  p{
    color: $secondColor;
    margin: 7px;
  }
}


@mixin circleStats($importance,$color1,$color2) {
  border-radius: 100%;
  background: $color1;
  color: $color2;
  text-align: center;
  margin:auto;
  margin:2px;
  @if $importance == 1 {
    width:60px;
    height:60px;
    opacity: .65;
    padding-top: 15px;

    @media(max-width: 355px) {
      @include circleSizeDec(60px,15px,.171875);
    }

    @media(min-width:414px) {
      @include circleSizeCalc(60px,15px,1.104);
    }

  }
  @if $importance == 2 {
    width:80px;
    height:80px;
    opacity: .80;
    padding-top: 23px;

    @media(max-width: 355px) {
      @include circleSizeDec(80px,23px,.171875);
    }

    @media(min-width:414px) {
      @include circleSizeCalc(80px,23px,1.104);
    }
  }
  @if $importance == 3 {
    width:110px;
    height:110px;
    opacity: .99;
    padding-top: 40px;

    @media(max-width: 355px) {
      @include circleSizeDec(110px,40px,.171875);
    }

    @media(min-width:414px) {
      @include circleSizeCalc(110px,40px,1.104);
    }
  }

}

@mixin clearFix {
  &::after, &::before {
    content: "";
    clear: both;
    display: table;
  }
}

//increases the size based on the % increase of the screnn width
@mixin circleSizeCalc($s,$p,$m) {
  width: $s * $m;
  height: $s * $m;
  padding-top: $p * $m;
}


//increases the position based on the % increase of the screnn width
@mixin circleePosCalc($t,$l) {
  @media(max-width:355px) {
    top:$t - ($t * .171875);
    left:$l - ($l * .171875);
  }
  @media(min-width:414px) {
    top: $t * 1.104;
    left: $l * 1.104;
  }

}

//decreases the size bases on the %diff of the screen widths
@mixin circleSizeDec ($s,$p,$m) {
  width: $s - ($s * $m);
  height: $s - ($s * $m);
  padding-top: $p - ($p * $m);
}
