

//main header styles-----------------------------------------
.header {
  text-align: center;
  background:linear-gradient(rgba(0,0,0,0.2),
                             rgba(0,0,0,0.2)),
                            url('../img/lmtn.jpg') no-repeat;
  background-position: 57% 29%;
  background-size: 232%;
  height: 232px;
  box-shadow: $level3;
  padding-top: 35px;
  margin: 0 0 20px 0;
  color: $backgroundColor;
  border: none;

  @media (min-width:500px) {
    height:299px;
    padding:61px;
  }

  @media (min-width:500px) {
    height:299px;
    padding:61px;
  }

  @media (min-width:800px) {
    height:478px;
    padding:61px;
    padding-top:120px;
  }

  @media (min-width:1190px) {
    height:711px;
    padding:188px;
    padding-top:216px;
    background-size: 150%;
  }
  @media (min-width:1600px) {
    height:956px;
    padding:405px;
    padding-top:216px;
    background-size: 150%;
  }


  h1 {
    margin: 0;
    font-size:5rem;
    opacity: 0.85;

    @media (min-width:800px) {
      font-size:7rem;
    }
    @media (min-width:1190px) {
      font-size:9rem;
    }
    @media (min-width:1600px) {
      font-size:10rem;
    }
  }

  h2 {
    padding: 10px 5px;
    font-size: 1rem;
    border: 3px solid $backgroundColor;
    width: 75%;
    margin: auto;
    opacity: 0.85;

    @media (max-width: 321px) {
      font-size:.7rem;
    }


  }


}


//about page header styles-----------------------------------------


.aboutHeader {
    height: 292px;
    position:relative;
    left:-400px;

    @media (min-width:550px) {
      left:-600px;
    }
    @media (min-width:750px) {
      left:-800px;
    }
    @media (min-width:950px) {
      left:-1000px;
    }
}

.aboutHeader {
    transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -webkit-transition:left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -moz-transition: left 1000ms cubic-bezier(0.68, -0.55,0.265,1.55);
    -ms-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -o-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
}

.aboutHeaderSlideIn {
    left:0px;
}

.circlePic {
  background: url('../img/aboutMe.jpg') no-repeat;
  background-size: cover;
  height: 255px;
  width: 255px;
  border-radius: 100%;
  margin: auto;
  margin-top:10px;
  box-shadow: $level2;

  @media (min-width:800px) {
    height: 285px;
    width: 285px;
  }
  @media (min-width:1190px) {
    height: 300px;
    width: 300px;
  }


}
