

//main "filter" heading----------------------

.filter {
  border-bottom: 1.5px solid $primaryColor;
  width: 50%;
  margin: auto;
  position: relative;
  transition: left 1s ease-in-out;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;

  h1 {
      color: $textColor;
      font-size: 4rem;
      text-align: center;
      opacity: 0.85;
  }
}

.filter.about {
    width:75%;
}


.filterHide {
  position:relative;
  left:3000px;
  overflow: hidden;
}

.socialHide {
  left: 80%;
  opacity: 0;
}


//Content Card Picture styles----------------------

.wrapperStyle {
  background: no-repeat;
  background-position: top;
  background-size: cover;
  height: 195px;
  max-width: 100%;
  margin: auto;

  @media (min-width:500px) {
    height:265.75px;
  }

}

//Content Card styles------------------------------

.entry {
    border: 6px solid $textColor;
    background: $backgroundColor;
    width: 79.554%;
    max-height: 335px;
    margin: 60px auto;
    box-shadow: $level3;
    border-radius: 7px;
    position:relative;
    top:-1600px;
    overflow: hidden;

    @media (min-width:500px) {
      max-height:407px;
    }

    h1 {
        color: #2196F3;
        display:block;
        padding: 10px 0px 0px 10px;
        opacity: 0.85;
        transition: all 0.3s;

    }

    &:hover {
      box-shadow: 0 19px 35px rgba(0,0,0,0.30), 0px 15px 12px rgba(0,0,0,0.22);
      border-color: #2196F3;
    }


}

.entryFullView {
    width: 90%;

}


.postDate {
  font-size:1rem;
  margin-bottom:-5px;

}



//Animation Effects------------------------------


.entry {
    transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,height 0.5s ease;
    -webkit-transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,max-height 0.5s ease;
    -moz-transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,max-height 0.5s ease;
    -ms-transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,max-height 0.5s ease;
    -o-transition: top 3000ms cubic-bezier(0.68,-0.55,0.265,1.55), width 0.5s ease,max-height 0.5s ease;

}

.slideIn {
    top:0px;
}


//Content syles once clicked----------------------


.postPicture {
    max-height:300px;
    background-size: cover;
}
.posts {
    max-height: 30000px;
    width: 90%;
    color:#787878;
    margin: 60px auto;
    padding:15px;
    box-shadow: $level3;
    border:none;


}


.postTitle {
  color: #4a4a4a;
  margin-top: 25px;
  font-size: 3.5rem;
}



//About Main Content-------------------------------
.aboutContent {
    max-height: 3000px;
    width: 90%;
    color:#787878;
    margin: 60px auto;
    padding:15px;
    box-shadow: $level3;
    border:none;
    position: relative;
    left: 600px;
}



.aboutContent {
    transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -webkit-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -moz-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -ms-transition: left 1000ms cubic-bezier(0.68,-0.55,0.265,1.55);
    -o-transition: left 1000ms cubic-bezier(0.65,-0.55,0.265,1.55);
}

.aboutContentSlideIn {
    left:0px;
}

.aboutSocialDiv {
  margin: 0px auto 41%;
  width: 50%;


}
.aboutSocial {
  float: left;
  width: 33.3333%;

}

.aboutSocialIcon {
  color: $textColor;
  text-shadow: $level4;

  &:hover {
    color: $primaryColor;
    text-shadow: $level5;
  }

}



.homeButton a {
  color:#fff;
}
