

//mixins-------------------------------

@mixin iconPosition($value) {
  left: 80%;
  top:($value);

  @media (min-width:500px) {
    left: 85%;

  }

  @media (min-width:700px) {
    left: 89%;

  }

  @media (min-width:800px) {
    left: 90%;

  }

  @media (min-width:1190px) {
    left: 93%;

  }
  @media (min-width:1600px) {
    left: 95%;

  }


}


@mixin socialIconPosition($value) {
  top:508px;
  left:$value;

  @media (max-width:321px) {
    top:485px;
  }

  @media (min-width:500px) {
    top:328px;
  }

}

@mixin socialIconStyle {
  font-size: 3rem;
  position: relative;
  color: $iconColor;

  @media (max-width:321px) {
    font-size:2.8rem;
  }
}



//icons ------------------------------


.icon-menu {
  font-size: 2.5rem;
  position: relative;
  left: 12px;
  top: 12px;
}

.icon-ruby {
  font-size: 3.4rem;
  position: relative;
  left: 6px;
  top: 5px;

  @media (max-width:321px) {
    font-size:3.1rem;
  }

}

.icon-home {
  font-size: 3rem;
  position: relative;
  top: 9px;
  left: 8px;

  @media (max-width:321px) {
    font-size:2.9rem;
  }

}

.icon-calendar {
  font-size: 3rem;
  position: relative;
  top: 8px;
  left: 9px;

  @media (max-width:321px) {
    font-size:2.8rem;
  }
}

.icon-pencil {
  font-size: 2.5rem;
  display:inline-block;
  position: relative;
  top: 14px;
  left: 14px;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;

  @media (max-width:321px) {
    font-size:2.3rem;
  }

}

.contactActive {
 -webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


.icon-twitter {
  @include socialIconStyle;
  top: 14px;
  left: 10px;
}

.icon-github2 {
  @include socialIconStyle;
  top: 9px;
  left: 9px;
}

.icon-facebook {
  @include socialIconStyle;
    top: 5px;
    left: 5px;
}

//styles ------------------------------

.menuButton {
    background: $primaryColor;
    width: 65px;
    height:65px;
    box-shadow: $level3;
    border:none;
    border-radius:none;
    position: fixed;
    left: 80%;
    top: 195px;
    z-index: 3;
    overflow: hidden;
    margin:0;
    padding:0;
    font-size:0;
    text-indent:-9999px;
    cursor: pointer;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;

    &:focus {
      outline: none;

    }

    &:hover {
      box-shadow: $level5;
    }
    @media (max-width:321px) {
      height:60px;
      width:60px;
    }

    @media (min-width:500px) {
      left: 85%;
      top:8px;
    }

    @media (min-width:700px) {
      left: 89%;
      top:10px;
    }

    @media (min-width:800px) {
      left: 90%;

    }

    @media (min-width:1190px) {
      left: 93%;

    }
    @media (min-width:1600px) {
      left: 95%;

    }

    span {
        display: block;
        height: 4px;
        position: absolute;
        background: $backgroundColor;
        right:9px;
        left:9px;
        top:30px;
        transition: transform 0.3s;
        -webkit-transition: -webkit-transform 0.3s;


        &:before, &:after {
          position: absolute;
          display: block;
          left:0;
          height:4px;
          width:100%;
          background-color: $backgroundColor;
          content: "";

        }

        &:before {
          top: 15px;
        }

        &:after {
          bottom: 15px;
        }

        @media (max-width:321px) {
          top:28px;
        }


      }
    }



.active {

  span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

}



.nav {
    background: $iconColor;
    width: 65px;
    height: 65px;
    box-shadow: $level3;
    position:fixed;
    z-index: 1;
    opacity: 1;
    transition: all 0.3s;

    @media (max-width:321px) {
      width: 60px;
      height:60px;
    }

    h2 {
      color: $iconColor;
      font-family: $headingFont;
      font-size: 2rem;
      position: absolute;
      left: -216px;
      top: 17px;
      width: 200px;
      text-align: right;

      @media (max-width:321px) {
        font-size:1.5rem;
      }

    }
}



.homeButton {
  @include iconPosition(275px);

  @media (min-width:500px) {
    @include iconPosition(88px)
  }

}


.mainAboutButton {
  @include iconPosition(275px + 80);

  a {
    color: #fff;
  }

  @media (max-width:321px) {
    @include iconPosition(275px + 70);
  }

  @media (min-width:500px) {
    @include iconPosition(88px + 80);
  }

}



.recentPostButton {
  @include iconPosition(275px +80 +80);

  @media (max-width:321px) {
    @include iconPosition(275px +70 +70);
  }

  @media (min-width:500px) {
    @include iconPosition(88px + 80 +80);
  }

}

.contactButton {
  @include iconPosition(275px +80 +80 +80);
  z-index: 2;

  @media (max-width:321px) {
    @include iconPosition(275px +70 +70 +70);
  }

  @media (min-width:500px) {
    @include iconPosition(88px + 80 +80 +80);
  }


}


.navHide {
    top: 195px;
    opacity: 0;


    @media (min-width:500px) {
      top:8px;
    }

    @media (min-width:700px) {
      top:10px;
    }

    h2{
      left:9999px;
    }
}

.lightBox {
    background: transparent;
    opacity: 1;
    transition: all 0.2s;
}

.lightboxBlur {
  background: $backgroundColor;
  opacity: 0.1;
}


.social {
  background: $backgroundColor;
  width: 70px;
  height: 70px;
  position: fixed;
  border-radius: 100%;
  border: 2px solid #000;
  z-index: 1;
  box-shadow: $level3;
  opacity: 1;
  transition: all 0.3s;

  &:hover {
    box-shadow: $level5;
    border-color: $primaryColor;
  }



  @media (max-width:321px) {
    width:65px;
    height:65px;
  }

}








.twitter {
  @include socialIconPosition(5%);

  @media (min-width:500px) {
    left:(5% + 23%);
  }

  @media (min-width:700px) {
    left:(5% + 31%);
  }

  @media (min-width:850px) {
    left:(5% + 35%);
  }
  @media (min-width:875px) {
    left:(5% + 49%);
  }
  @media (min-width:1190px) {
    left:(5% + 60%);
  }


}

.github {
  @include socialIconPosition(30%);

  @media (min-width:500px) {
    left:(30% + 17%);
  }

  @media (min-width:700px) {
    left:(30% + 25%);
  }

  @media (min-width:850px) {
    left:(30% + 29%);
  }
  @media (min-width:875px) {
    left:(30% + 36%);
  }
  @media (min-width:1190px) {
    left:(30% + 44%);
  }


}

.facebook {
  @include socialIconPosition(55%);

  @media (min-width:500px) {
    left:(55% + 11%);
  }

  @media (min-width:700px) {
    left:(55% + 19%);
  }

  @media (min-width:850px) {
    left:(55% + 23%);
  }
  @media (min-width:1190px) {
    left:(55% + 28%);
  }



}

.socialHide {
  left: 80%;
  opacity: 0;

  @media (min-width:1190px) {
    left:93%;
  }

  pointer-events:none;
  cursor:default;

}
