.portfolio {
  h1 {
    opacity: .65;
    font-size: 4rem;
    margin-left: 5px;
    margin-right: 5px;
    color: $iconColor;

    @media (min-width: 1024px) {
      font-size: 6rem;
    }
  }

  h2 {
    opacity: .65;
    font-size: 2rem;
    color: $primaryColor;
    margin-left: 5px;
    margin-right: 5px;

  }

  h3 {
    opacity: .90;
    font-size: 1rem;
    color: $textColor;
    margin-left: 5px;
    margin-right: 5px;
  }

  header {
    margin-bottom: 40px;
  }

  section {
    padding: 2rem 0;
  }
}

.portfolioHeader {
  background: linear-gradient(
              rgba(255,255,255,.8),
              rgba(255,255,255,1)
  ),
  url('../img/lowPoly.jpg') center no-repeat;
  background-size: 200%;

  height: 300px;

  @media(min-width: 768px) {
  height:550px;
  }




}



.portfolioHeaderHeading {
  color: $iconColor;
  text-align: center;
  margin: auto;
  padding-top:67px;

  @media(min-width: 460px) {
    width:90%;
  }

  @media (min-width: 1024px) {
    padding-top: 11rem;
  }

  h1 {
    font-size: 4.3rem;

    @media(min-width: 768px) {
      font-size: 8.5rem;
    }
  }

    h3 {
      margin-top: 5px;

      @media(min-width:768px ) {
        font-size: 1.8rem;
      }
    }

}

section {
  @media(max-width: 360px) {
    h1 {
      font-size: 3.7rem !important;
    }
  }

}


//about section --------------------------------

.portfolioAboutSection {
  @include clearFix;

}

.portfolioCirclePic {
  width: 190px;
  height: 190px;
  position: relative;
  z-index: 1;

  @media(min-width:768px ){
    width:220px;
    height:220px;
  }

  &::after,&::before {
    content: "";
    @extend .portfolioCirclePic;
    border-radius: 100%;
    background: $primaryColor;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    z-index: 4;
  }

  &::before {
    left:-86px;

    @media(min-width:768px ){
      left:-103px;
    }
  }

  &::after {
    right: -86px;
    background-color: $iconColor;

    @media(min-width:768px ){
      right:-103px;
    }
  }


}

.circleDiv {
  @extend .portfolioCirclePic;
  border-radius: 100%;
  background: $primaryColor;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  z-index: 4;

}
.circleDivLeft {
  left: 6px;
}

.circleDivRight {
  right: 6px;
  background: $iconColor;
}

.portfoilioAboutHeader {
  height: auto;
  margin-bottom: 30px;
}

.portfolioFilterAbout {
  width: 95% !important;
  text-align: center;
  border: none;
  margin-bottom: 40px;

  h2 {
    font-size: 2.9rem;

    @media(min-width: 768px) {
      font-size: 4.5rem;
    }
  }


}

#filterAboutSub {
    font-size: 1.5rem;
    color: $iconColor;

    @media(min-width: 768px) {
      font-size: 2rem;
    }

}

.portfolioAboutContent {
  box-shadow: none;
  padding: 0;
  width: auto;
  margin: 0;
  margin-bottom: 20px;

  @media(min-width:768px ){
    width: 90%;
    margin: auto;
  }

  @include clearFix;

  p{
    margin-bottom: 20px;

    @media(min-width:768px ){
      width: 50%;
      float: left;
    }
  }

}

.portfolioContactButton {
  margin: auto;
  margin-bottom: 40px;
  text-align: center;


  @media(min-width: 768px) {
    span {
      font-size: 5rem;
    }
  }

  h3{
    font-size: 1.5rem;
    margin-top: 2px;
  }

}

//reviews section ------------------------------

.reviewsBackground {
  background: linear-gradient(
      rgba(33, 150, 243, .9),
      rgba(33, 150, 243, .9)),
      url('../img/polyM.jpg');

  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 4rem 0;
  text-align: center;

  ul {
    @media(min-width: 768px)  {
      width: 80%;
      margin: auto;
    }
  }

  li{
    &:first-child {
      margin-bottom: 60px;
    }
  }
  h2{
    color: white;
    opacity: .75;
    font-size: 1.4rem;
    font-weight: 200;

    @media(min-width: 768px)  {
      font-size: 1.8rem;
    }
    @media(min-width: 992px)  {
      font-size: 2.7rem;
    }

  }

  h3 {
    margin-bottom: 0;

    @media(min-width: 992px)  {
      font-size: 2.5rem;
    }
  }

  p{
    font-size: .8rem;
    color: $textColor;

    @media(min-width: 992px)  {
      font-size: 1.3rem;
      opacity: .6;
    }
  }
}





.stats {
  @include clearFix;
}
//Skills Section------------------------

.skills {
  @include clearFix;
  height: 522px;

  @media(min-width:414px) {
    height:555px;
  }

  @media(min-width:768px) {
    height:639px;
  }

  @media(min-width:992px) {
    float: left;
    margin-left:2%;
  }

  @media(min-width:1200px) {
    margin-left:0%;
  }
  @media(min-width:1200px) {
    height:740px;
  }




  ul {
    height: inherit;

      @media(min-width: 460px) {
        margin-left: 5%;
      }
      @media(min-width: 768px) {
        width: 73%;
        margin: auto;
      }
      @media(min-width: 992px) {
        width: auto;
        margin: 0;
      }
  }

  li {
    position: relative;


  p{
    padding:0;
    line-height: 100%;
    font-weight: 100;
  }
  }
}

.smallCircle {
  @include circleStats(1,$primaryColor,white);
}

.MediumCircle {
  @include circleStats(2,$primaryColor,white);
}

.largeCircle {
  @include circleStats(3,$primaryColor,white);
}

.skillHtml{

}

.skillJavascript {
  top: -67px;
  left: 78px;
  @include circleePosCalc(-67px,78px);

}

.skillGulp {
  top: -109px;
  left: 23px;

  @include circleePosCalc(-109px,23px);
}

.skillExpress {
  top:-106px;
  @include circleePosCalc(-106px,0px);
}

.skillCss {
  top: -189px;
  left: 66px;
  @include circleePosCalc(-189px,66px);
}

.skillSass {
  top:-278px;
  @include circleePosCalc(-278px,0px);
}

.skillNode {
  top: -950px;
  left: 182px;
  @include circleePosCalc(-950px,182px);
}

.skillDesign {
  top: -490px;
  left: 169px;
  @include circleePosCalc(-490px,169px);
}

.skillResp {
  top: -633px;
  left: 155px;
  @include circleePosCalc(-633px,155px);
}

.skillBS {
  top: -441px;
  left: 312px;
  @include circleePosCalc(-441px,312px);
}

.skillAngular {
  top: -648px;
  left: 260px;
  @include circleePosCalc(-648px,260px);
}

.skillUX {
  top: -647px;
  left: 312px;
  @include circleePosCalc(-647px,312px);
}

.skillSketch {
  top: -930px;
  left: 262px;
  @include circleePosCalc(-930px,262px);
}

.skillGit {
  top: -928px;
  left: 267px;
  @include circleePosCalc(-928px,267px);
}

.skillJquery {
  top: -768px;
  left: 74px;
  @include circleePosCalc(-768px,74px);
}


//Interest section ------------------------------------
.interests {
  @include clearFix;
  @extend .skills;
  height: 386px;

  @media(min-width:414px) {
    height:417px;
  }

  @media(min-width:768px) {
    height:464px;
  }

  @media(min-width:992px) {
    float: left;
    margin-left:42%;
    border: none;
  }

  @media(min-width:1024px) {
    margin-left:39%;
  }
  @media(min-width:1200px) {
    margin-left:36%;
  }


  border: 1px solid #E5E5E5;
  li {
    background: $secondaryColor !important;

    p{
      font-weight: 100;
    }
  }
}

.intSF {

}

.intOutD {
  left: 7px;
  top: -1px;
  @include circleePosCalc(7px,-1px);
}
.intFamily{
  top: -157px;
  left: 72px;
  @include circleePosCalc(-157px,72px);
}
.intOpenS{
  top: -156px;
  left: 79px;
  @include circleePosCalc(-156px,79px);
}
.intPakers {
  top: -199px;
  left: 258px;
  @include circleePosCalc(-199px,258px);
}
.intCS {
  top: -368px;
  left: 265px;
  @include circleePosCalc(-368px,265px);
}
.intFoodie {
  top: -376px;
  left: 311px;
  @include circleePosCalc(-376px,311px);
}
.intGivingB {
  top: -556px;
  left: 186px;
  @include circleePosCalc(-556px,186px);
}
.intStarWars {
  top: -484px;
  left: 25px;
  @include circleePosCalc(-474px,25px);
}
.intlearning {
  top: -620px;
  left: 160px;
  @include circleePosCalc(-620px,160px);
}




//SelectedWork Section -------------------------------------------------
.Work {
  @include clearFix;
  @media(min-width: 460px) {
    h1 {
      text-align: center;
    }
  }

  @media(min-width:992px) {
    border-top: 1px solid #E5E5E5;
  }

  ul {
    @include clearFix;
  }

}
.workPiece {
  margin-bottom: 80px;

  @media(min-width: 768px) {
    width: 50%;
    float: left;
  }
  @media (min-width: 1024px) {
    margin-left: 6%;
    width: 42%;
  }
  @media (min-width: 1200px) {
    margin-left: 0;
    width: 33%;
  }

  p {
    color: $textColor;
  }
}


.workBanner {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 200px;
  width: 80%;
  box-shadow: $level2;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;

  &:hover {
    box-shadow: $level3;
  }
}

#webhubBanner {
  background: url("../img/webhub.png");
}
#SLSLBanner {
  background: url("../img/Picture2.png");
}
#blogBanner {
  background: url("../img/blog.png");
}
#AnniversaryBanner {
  background: url("../img/jr.png");
}
#SLCProcodeBanner {
  background: url("../img/slcPC.png");
}

.workContent{
  width: 80%;
  margin: auto;
  text-align: center;

  h2 {
    font-size: 1.5rem;

    @media(min-width:768px ){
      font-size: 1.8rem;
    }
  }

  p{
    font-size: .8rem;

    @media(min-width:768px ){
      font-size: 1rem;
    }
  }
}



//contact section --------------------------------

.getInTouch {
  background: linear-gradient(
  rgba(255,255,255,0.4),rgba(255,255,255,1)
  ), url('../img/poly3.jpg');
  background-size: cover;
  background-position: center;
  border: none;

  @media(min-width: 992px) {
    height: 350px;
  }

  @media(min-width: 1200px) {
    height: 420px;
  }

  h1{
    text-align: center;
  }
  p{
    color: $primaryColor;
    text-align: center;
    opacity: 0.7;
  }

}

.portfolioSocialIcon {
  color: $textColor;
    text-shadow: $level3;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;

    &:hover {
      color: $primaryColor;
      text-shadow: $level4;
    }

    @media (min-width: 992px) {
      font-size: 4.5rem;
    }


}

.iconWrapper {
  @include clearFix;

  @media(min-width: 768px) {
    width: 56%;
    margin: auto;
  }
}

.portfolioSocial {
  float:left;
  width:17%;
  margin: 5px;


  @media (max-width: 360px) {
    width:16%;
  }
  @media (min-width: 992px) {
    margin-left: 3%;
    width: 16%;
  }
}


//footer -------------------------
footer{
  overflow: hidden;
  height: 67px;

  @media(min-width: 992px) {
    height: 85px;
  }
  @media(min-width: 1200px) {
    height: 120px;
  }

}
.footerCircleDiv {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  background: $primaryColor;
  opacity: 0.4;
  float: left;
  margin-right: -35px;

  @media(max-width: 340px) {
    margin-right:-53px;
  }



  @media(min-width:414px) {
    margin-right:-46px;
  }

  @media(min-width: 460px) {
    width:130px;
    height:130px;
  }

  @media(min-width: 768px) {
    width: 196px;
    height: 196px;
    margin-right: -54px;
  }

  @media(min-width: 992px) {
    width: 211px;
    height: 211px;
  }
  @media(min-width: 1024px) {
    width: 217px;
    height: 217px;
  }

  @media(min-width: 1024px) {
    width: 245px;
    height: 245px;
  }

  @media(min-width: 1280px) {
    width: 259px;
    height: 259px;
  }

}

.greyCircle {
  background-color:$iconColor;
}
