.portfolio {
  h1 {
    opacity: .65;
    font-size: 4rem;
    margin-left: 5px;
    margin-right: 5px;
    color: $iconColor;
  }

  h2 {
    opacity: .65;
    font-size: 2rem;
    color: $primaryColor;
    margin-left: 5px;
    margin-right: 5px;

  }

  h3 {
    opacity: .90;
    font-size: 1rem;
    color: $textColor;
    margin-left: 5px;
    margin-right: 5px;
  }

  header {
    margin-bottom: 40px;
  }

  section {
    padding: 2rem 0;
  }
}

.portfolioHeader {
  background:url('../img/lowPoly.jpg') center no-repeat;
  background-size: 200%;

  height: 300px;

}

.whiteWrapper {
  background: white;
  opacity: 0.1;
  position: relative;
  z-index: 1;
}

.portfolioHeaderHeading {
  color: $iconColor;
  text-align: center;
  position: absolute;
  top: 70px;

}

section {
  @media(max-width: 360px) {
    h1 {
      font-size: 3.7rem !important;
    }
  }

}


//about section --------------------------------

.portfolioAboutSection {


}

.portfolioCirclePic {
  width: 190px;
  height: 190px;
  position: relative;
  z-index: 1;

  &::after,&::before {
    content: "";
    @extend .portfolioCirclePic;
    border-radius: 100%;
    background: $primaryColor;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    z-index: 4;
  }

  &::before {
    left:-86px
  }

  &::after {
    right: -86px;
    background-color: $iconColor;
  }


}

.circleDiv {
  @extend .portfolioCirclePic;
  border-radius: 100%;
  background: $primaryColor;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  z-index: 4;

}
.circleDivLeft {
  left: 6px;
}

.circleDivRight {
  right: 6px;
  background: $iconColor;
}

.portfoilioAboutHeader {
  height: auto;
  margin-bottom: 30px;
}

.portfolioFilterAbout {
  width: 95% !important;
  text-align: center;
  border: none;
  margin-bottom: 40px;

  h2 {
    font-size: 2.9rem;
  }


}

#filterAboutSub {
    font-size: 1.5rem;
    color: $iconColor;

}

.portfolioAboutContent {
  box-shadow: none;
  padding: 0;
  width: auto;
  margin: 0;
  margin-bottom: 20px;

}

.portfolioContactButton {
  @include mainButton(white,$textColor);
  margin-bottom: 40px;
}

//reviews section ------------------------------

.reviewsBackground {
  background: linear-gradient(
      rgba(33, 150, 243, .9),
      rgba(33, 150, 243, .9)),
      url('../img/polyM.jpg');

  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 2rem 0;
  text-align: center;

  li{
    &:first-child {
      margin-bottom: 60px;
    }
  }
  h2{
    color: white;
    opacity: .75;
    font-size: 1.4rem;

  }

  h3 {
    margin-bottom: 0;
  }

  p{
    font-size: .8rem;
    color: $textColor;
  }
}




//Skills Section------------------------

.skills {
  height: 522px;

  @media(min-width:414px) {
    height:555px;
  }


  ul {
    height: inherit;
  }

  li {
    position: relative;


  p{
    padding:0;
    line-height: 100%;
    font-weight: 100;
  }
  }
}

.smallCircle {
  @include circleStats(1,$primaryColor,white);
}

.MediumCircle {
  @include circleStats(2,$primaryColor,white);
}

.largeCircle {
  @include circleStats(3,$primaryColor,white);
}

.skillHtml{

}

.skillJavascript {
  top: -67px;
  left: 78px;
  @include circleePosCalc(-67px,78px);

}

.skillGulp {
  top: -109px;
  left: 23px;

  @include circleePosCalc(-109px,23px);
}

.skillExpress {
  top:-106px;
  @include circleePosCalc(-106px,0px);
}

.skillCss {
  top: -189px;
  left: 66px;
  @include circleePosCalc(-189px,66px);
}

.skillSass {
  top:-278px;
  @include circleePosCalc(-278px,0px);
}

.skillNode {
  top: -950px;
  left: 182px;
  @include circleePosCalc(-950px,182px);
}

.skillDesign {
  top: -490px;
  left: 169px;
  @include circleePosCalc(-490px,169px);
}

.skillResp {
  top: -633px;
  left: 155px;
  @include circleePosCalc(-633px,155px);
}

.skillBS {
  top: -441px;
  left: 312px;
  @include circleePosCalc(-441px,312px);
}

.skillAngular {
  top: -648px;
  left: 260px;
  @include circleePosCalc(-648px,260px);
}

.skillUX {
  top: -647px;
  left: 312px;
  @include circleePosCalc(-647px,312px);
}

.skillSketch {
  top: -930px;
  left: 262px;
  @include circleePosCalc(-930px,262px);
}

.skillGit {
  top: -928px;
  left: 267px;
  @include circleePosCalc(-928px,267px);
}

.skillJquery {
  top: -768px;
  left: 74px;
  @include circleePosCalc(-768px,74px);
}


//Interest section ------------------------------------
.interests {
  @extend .skills;
  height: 386px;

  @media(min-width:414px) {
    height:417px;
  }

  border: 1px solid #E5E5E5;
  li {
    background: $secondaryColor !important;

    p{
      font-weight: 100;
    }
  }
}

.intSF {

}

.intOutD {
  left: 7px;
  top: -1px;
  @include circleePosCalc(7px,-1px);
}
.intFamily{
  top: -157px;
  left: 72px;
  @include circleePosCalc(-157px,72px);
}
.intOpenS{
  top: -156px;
  left: 79px;
  @include circleePosCalc(-156px,79px);
}
.intPakers {
  top: -199px;
  left: 258px;
  @include circleePosCalc(-199px,258px);
}
.intCS {
  top: -368px;
  left: 265px;
  @include circleePosCalc(-368px,265px);
}
.intFoodie {
  top: -376px;
  left: 311px;
  @include circleePosCalc(-376px,311px);
}
.intGivingB {
  top: -556px;
  left: 186px;
  @include circleePosCalc(-556px,186px);
}
.intStarWars {
  top: -484px;
  left: 25px;
  @include circleePosCalc(-474px,25px);
}
.intlearning {
  top: -620px;
  left: 160px;
  @include circleePosCalc(-620px,160px);
}




//SelectedWork Section -------------------------------------------------
.Work {

}
.workPiece {
  margin-bottom: 80px;

  p {
    color: $textColor;
  }
}


.workBanner {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 200px;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,.24);
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

#webhubBanner {
  background: url("../img/webhub.png");
}
#SLSLBanner {
  background: url("../img/Picture2.png");
}
#blogBanner {
  background: url("../img/blog.png");
}
#AnniversaryBanner {
  background: url("../img/jr.png");
}
#SLCProcodeBanner {
  background: url("../img/slcPC.png");
}

.workContent{
  width: 80%;
  margin: auto;
  text-align: center;

  h2 {
    font-size: 1.5rem;
  }

  p{
    font-size: .8rem;
  }
}



//contact section --------------------------------

.getInTouch {
  background: linear-gradient(
  rgba(255,255,255,0.4),rgba(255,255,255,1)
  ), url('../img/poly3.jpg');
  background-size: cover;
  background-position: center;

  h1{
    text-align: center;
  }
  p{
    color: $primaryColor;
    text-align: center;
    opacity: 0.7;
  }

}

.portfolioSocialIcon {
  color: $textColor;

}

.iconWrapper {
  @include clearFix;
}

.portfolioSocial {
  float:left;
  width:17%;
  margin: 5px;
  text-shadow: $level3;

  @media (max-width: 360px) {
    width:16%;
  }
}


//footer -------------------------
footer{
  overflow: hidden;
  height: 67px;
}
.footerCircleDiv {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  background: $primaryColor;
  opacity: 0.4;
  float: left;
  margin-right: -35px;

  @media(max-width: 340px) {
    margin-right:-53px;
  }



  @media(min-width:414px) {
    margin-right:-46px;
  }

}

.greyCircle {
  background-color:$iconColor;
}
